.screen {
    width: 100%;
    height: 60%;
    background: #3e3ec1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.screen_text {
    width: 90%;
    font-size: 18px;
    font-weight: 600;
    color: #19194d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen_green {
    width: 30%;
    font-size: 70px;
    font-weight: 700;
    color: #19194d;
    display: flex;
    justify-content: center;
}

.screen_red {
    width: 30%;
    font-size: 76px;
    font-weight: 700;
    color: #cc3300;
    display: flex;
    justify-content: center;
}

.screen_error {
    width: 90%;
    font-size: 18px;
    font-weight: 600;
    color: #cc3300;
    display: flex;
    justify-content: center;
    align-items: center;
}


















